/*
 * @package IllusiveDesign
 * @subpackage Elusive Illusion
 * @since Elusive Illusion 1.0
 */
   /* 
    Created on : Nov 16, 2015, 2:24:24 PM
    Author     : Anup Biswas <anup@illusivedesign.net>
*/
/* 
* Variables
*===============================================================================
*/
/*
 * Apply a CSS3 transition
 *
 * $property The property you want to animate, eg opacity
 * $duration The duration of the animation, eg 1s
 * $ms Include -ms-transition; default is false because IE does not support transitionEnd callback
 *
 * @include transition(opacity, 0.5s);
 */
/*
 * Apply a CSS3 transition-delay
 * @include transitionDelay(2s);
 */
/*
 * Apply a CSS3 transition-duration
 * @include transitionDuration(1s);
 */
/*
 * Apply a CSS3 transition-property
 * @include transitionProperty(opacity);
 * @include transitionProperty((height, width)); Multiple properties can be passed in surrounded by brackets
 */
/*
 * Apply a CSS3 transition-timing-function
 * @include transitionTimingFunction(easing);
 */
/* 
* Common Style
*===============================================================================
*/
body, html {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #132d4e; }

a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.btn.btn-custom, .btn-custom {
  background: #ffc30d;
  border: 0;
  border-bottom: 3px solid #e1ac0b;
  display: inline-block;
  font-weight: bold;
  line-height: 38px;
  opacity: 0.8;
  padding: 0 32px;
  text-align: center;
  border-radius: 0;
  color: #000000; }
  .btn.btn-custom:hover, .btn-custom:hover {
    background: #e1ac0b; }

.embed-responsive {
  background: #eaeaea; }

@media (max-width: 992px) {
  .container > .row {
    margin: 0; } }
/* 
* Table of Contents
*===============================================================================
*/
/* 
* Header
*-------------------------------------------------------------------------------
*/
#page-wrap {
  padding: 0;
  margin: 0;
  background: #FFFFFF; }

#header {
  border-bottom: 0px solid #eaeaea;
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); }
  #header .topbar {
    padding: 10px 0px;
    background-color: #013d88;
    background-image: url(../img/top-bar-watermark.png); }
  #header .navbar-header {
    position: relative; }
    #header .navbar-header .site-title {
      margin: 0px;
      padding: 0px;
      position: relative; }
    #header .navbar-header .navbar-brand {
      height: auto;
      padding: 12px 0; }
    #header .navbar-header .navbar-toggle {
      border-color: #132d4e;
      border-radius: 0;
      margin: -18px 0 0;
      padding: 10px;
      position: absolute;
      right: 15px;
      top: 50%; }
      #header .navbar-header .navbar-toggle .icon-bar {
        background-color: #132d4e; }
  #header .navbar-primary .navbar-nav {
    width: 100%;
    display: table; }
    #header .navbar-primary .navbar-nav > .menu-item {
      display: table-cell;
      vertical-align: middle;
      min-width: 100px;
      float: none; }
      #header .navbar-primary .navbar-nav > .menu-item > a {
        display: block;
        text-align: center;
        line-height: 25px;
        padding: 28px 0px;
        font-size: 15px;
        background: transparent !important;
        border-bottom: 4px solid transparent;
        color: #000000; }
        #header .navbar-primary .navbar-nav > .menu-item > a:hover {
          border-color: #e1ac0b; }
      #header .navbar-primary .navbar-nav > .menu-item.current-menu-item > a {
        border-color: #ffc30d;
        font-weight: bold; }
      #header .navbar-primary .navbar-nav > .menu-item.btn-wrap {
        text-align: right; }
        #header .navbar-primary .navbar-nav > .menu-item.btn-wrap > a {
          background: #ffc30d none repeat scroll 0 0 !important;
          border-bottom: 3px solid #e1ac0b;
          display: inline-block;
          font-weight: bold;
          line-height: 38px;
          opacity: 0.8;
          padding: 0 32px;
          text-align: center;
          color: #000000; }
          #header .navbar-primary .navbar-nav > .menu-item.btn-wrap > a:hover {
            background: #e1ac0b !important; }

/*
*Page Banner
--------------------------------------------------------------------------------
*/
#page-banner {
  position: relative; }
  #page-banner .carousel .carousel-control {
    background-color: #ffc30d;
    background-image: none;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    top: 50%;
    text-align: center;
    width: 40px;
    opacity: .8;
    color: #000000; }
    #page-banner .carousel .carousel-control.left {
      left: 17%; }
    #page-banner .carousel .carousel-control.right {
      right: 17%; }
    #page-banner .carousel .carousel-control > span {
      font-size: 14px;
      margin: 0;
      height: auto;
      display: inline-block;
      position: static; }
      #page-banner .carousel .carousel-control > span.sr-only {
        display: none; }
    #page-banner .carousel .carousel-control:hover {
      opacity: 1; }
    @media (max-width: 768px) {
      #page-banner .carousel .carousel-control {
        display: none; } }
  #page-banner .carousel .carousel-indicators {
    bottom: 12px;
    text-align: center;
    height: 8px;
    margin-bottom: 0px; }
    #page-banner .carousel .carousel-indicators > li {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 20px;
      background-color: rgba(1, 61, 136, 0.8);
      border: 0;
      margin: 0 6px;
      vertical-align: top; }
      #page-banner .carousel .carousel-indicators > li.active {
        background-color: rgba(0, 0, 0, 0.7); }
  #page-banner .carousel .carousel-caption {
    left: 32%;
    right: 32%;
    padding-top: 35px;
    bottom: 30px;
    background: rgba(1, 61, 136, 0.85); }
    #page-banner .carousel .carousel-caption .banner-title {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 30px;
      line-height: 1.1;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 8px 0;
      padding: 0; }
    #page-banner .carousel .carousel-caption > p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 15px; }
    @media (max-width: 992px) {
      #page-banner .carousel .carousel-caption {
        position: static; } }
  #page-banner.innerbanner {
    min-height: 190px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0px -4px 6px -4px rgba(0, 0, 0, 0.5) inset; }
    #page-banner.innerbanner .page-title {
      text-transform: uppercase;
      background-color: rgba(1, 61, 136, 0.85);
      color: #FFFFFF;
      font-family: "Roboto Condensed", sans-serif;
      display: inline-block;
      padding: 18px 25px;
      line-height: 1.1;
      font-weight: bold;
      font-size: 30px;
      margin: 55px 0 0 0; }

/*
*Inner-content
--------------------------------------------------------------------------------
*/
#inner-content {
  background: #FFFFFF;
  /*
  * Sidebar
  *-------------------------------------------------------------------------------
  */ }
  #inner-content .entry-content {
    padding: 0px 0 30px;
    line-height: 1.6;
    color: #3e3e3e; }
    #inner-content .entry-content p {
      color: #3e3e3e; }
    #inner-content .entry-content blockquote, #inner-content .entry-content .blockquote {
      background: url(../img/blockquote.png) 18px 25px no-repeat;
      border: 1px solid #eaeaea;
      -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
      padding: 35px 25px 10px 90px; }
    #inner-content .entry-content h2, #inner-content .entry-content h3, #inner-content .entry-content h4 {
      font-family: "Roboto Condensed", sans-serif; }
      #inner-content .entry-content h2:first-child, #inner-content .entry-content h3:first-child, #inner-content .entry-content h4:first-child {
        margin-top: 0; }
    #inner-content .entry-content h2 {
      font-size: 28px; }
    #inner-content .entry-content img {
      max-width: 100%; }
    #inner-content .entry-content .address-box {
      padding: 30px 0;
      color: #969696; }
      #inner-content .entry-content .address-box .address {
        padding-left: 30px;
        position: relative;
        color: #969696; }
        #inner-content .entry-content .address-box .address:before {
          font-family: 'FontAwesome';
          content: "\f041";
          position: absolute;
          left: 0; }
      #inner-content .entry-content .address-box .addr-phone {
        padding-left: 30px;
        position: relative;
        color: #969696; }
        #inner-content .entry-content .address-box .addr-phone:before {
          font-family: 'FontAwesome';
          content: "\f095";
          position: absolute;
          left: 0; }
      #inner-content .entry-content .address-box .addr-email {
        padding-left: 30px;
        position: relative; }
        #inner-content .entry-content .address-box .addr-email:before {
          font-family: 'FontAwesome';
          content: "\f0e0";
          position: absolute;
          left: 0;
          color: #969696; }
      #inner-content .entry-content .address-box a {
        color: #969696; }
  #inner-content .entry-sidebar .widget {
    border: 1px solid #eaeaea; }
    #inner-content .entry-sidebar .widget .widget-title {
      margin: 0px;
      border-bottom: 2px solid #ffc30d;
      font-size: 18px;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 1.5;
      padding: 13px 22px 10px;
      text-transform: uppercase; }
    #inner-content .entry-sidebar .widget .winner {
      padding: 12px 22px; }
      #inner-content .entry-sidebar .widget .winner a.view-more {
        display: block;
        position: relative;
        font-weight: bold;
        color: #013d88;
        font-size: 14px; }
    #inner-content .entry-sidebar .widget .views-lists ul {
      padding: 0;
      margin: 0; }
      #inner-content .entry-sidebar .widget .views-lists ul > li {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 10px;
        margin-bottom: 8px;
        display: block; }
        #inner-content .entry-sidebar .widget .views-lists ul > li .entry-date {
          font-size: 11px;
          color: #3e3e3e; }
        #inner-content .entry-sidebar .widget .views-lists ul > li h4 {
          margin: 0; }
          #inner-content .entry-sidebar .widget .views-lists ul > li h4 a {
            font-size: 14px;
            color: #013d88;
            display: block; }
  #inner-content.sidebar-left-inner .entry-content {
    padding-right: 40px; }

.home #inner-content .entry-content {
  padding-top: 30px; }

/*
*Tweetie feeds
--------------------------------------------------------------------------------
*/
#tweetie-feeds {
  background-color: #e9f1ff; }
  #tweetie-feeds .tweetie {
    padding: 42px 0px 35px; }
  #tweetie-feeds .tweetie-for {
    margin: 0;
    text-align: center;
    min-width: 67px;
    padding-top: 88px;
    background-image: url(../img/tweetie.png);
    background-repeat: no-repeat;
    background-position: center 15px;
    font-size: 14px;
    color: rgba(1, 61, 136, 0.45);
    margin-bottom: 15px; }
  #tweetie-feeds .tweetie-carousel .tweet {
    max-width: 100%;
    overflow: hidden;
    min-height: 150px; }
    #tweetie-feeds .tweetie-carousel .tweet > span {
      display: block;
      line-height: 150px;
      color: rgba(1, 61, 136, 0.45);
      text-align: center; }
  #tweetie-feeds .tweetie-carousel ul {
    padding: 0;
    display: table;
    margin: 0px;
    width: 20000px;
    height: 150px; }
    #tweetie-feeds .tweetie-carousel ul > li {
      border-right: 0px solid #eee;
      float: left;
      height: 150px;
      margin: 0 15px;
      padding: 0 15px 0 15px;
      width: 210px;
      display: table-cell;
      vertical-align: top;
      height: 150px;
      color: #363636;
      font-size: 14px; }
      #tweetie-feeds .tweetie-carousel ul > li > a {
        font-weight: 600;
        color: #013d88;
        text-decoration: none; }
      #tweetie-feeds .tweetie-carousel ul > li .date {
        display: block;
        padding: 5px 0;
        color: #013d88; }

/*
*Bottom Widgets
--------------------------------------------------------------------------------
*/
.bottom-widgets {
  padding: 40px 0px; }
  .bottom-widgets .widget {
    margin: 0px 0px 22px; }
    .bottom-widgets .widget .widget-title {
      font-size: 26px;
      margin: 0px 0px 22px;
      text-transform: uppercase; }
    .bottom-widgets .widget .article-listing {
      padding: 0;
      margin: 0;
      max-width: 90%; }
      .bottom-widgets .widget .article-listing > li {
        border-bottom: 1px solid #eaeaea;
        padding: 13px 0;
        display: block; }
        .bottom-widgets .widget .article-listing > li span {
          display: inline-block;
          width: 140px;
          vertical-align: top;
          color: #3e3e3e;
          font-size: 14px;
          line-height: 24px; }
        .bottom-widgets .widget .article-listing > li h4, .bottom-widgets .widget .article-listing > li a {
          display: inline-block;
          max-width: 350px;
          vertical-align: top;
          font-size: 14px;
          margin: 0;
          line-height: 24px; }
  .bottom-widgets .testimonials-inner {
    border: 1px solid #eaeaea;
    background: url(../img/quotation.png) right bottom no-repeat;
    padding: 34px 40px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05); }
    .bottom-widgets .testimonials-inner .item {
      background: transparent;
      padding-bottom: 5px; }
    .bottom-widgets .testimonials-inner .qoute {
      font-weight: 300;
      color: #3e3e3e;
      margin-bottom: 16px; }
    .bottom-widgets .testimonials-inner .author {
      padding: 30px 0 0 116px;
      min-height: 95px;
      position: relative; }
      .bottom-widgets .testimonials-inner .author .img {
        display: inline-block;
        width: 95px;
        height: 95px;
        border-radius: 100px;
        left: 0px;
        top: 0px;
        position: absolute;
        overflow: hidden; }
        .bottom-widgets .testimonials-inner .author .img img {
          width: 100%;
          height: auto; }
      .bottom-widgets .testimonials-inner .author .name {
        font-weight: bold;
        font-size: 16px;
        color: #3e3e3e;
        margin: 0px 0px 2px; }
      .bottom-widgets .testimonials-inner .author .des {
        font-weight: 300;
        font-size: 14px;
        color: #3e3e3e; }
    .bottom-widgets .testimonials-inner .carousel-indicators {
      height: 8px;
      bottom: -42px; }
      .bottom-widgets .testimonials-inner .carousel-indicators > li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 20px;
        background-color: rgba(1, 61, 136, 0.8);
        border: 0;
        margin: 0 6px;
        vertical-align: top; }
        .bottom-widgets .testimonials-inner .carousel-indicators > li.active {
          background-color: rgba(0, 0, 0, 0.7); }

/*
*Footer
--------------------------------------------------------------------------------
*/
#footer {
  padding-top: 14px;
  padding-bottom: 35px;
  background-color: #132d4e; }
  #footer .copyright {
    margin-bottom: 15px; }
    #footer .copyright > p {
      font-size: 13px;
      color: #e9f1ff;
      line-height: 26px; }
      #footer .copyright > p:last-child {
        margin-bottom: 0; }
    #footer .copyright a {
      color: rgba(233, 241, 255, 0.5); }
      #footer .copyright a:hover {
        color: #e9f1ff; }
  #footer .footer-nav {
    margin-bottom: 15px; }
    #footer .footer-nav > ul {
      padding: 0;
      margin: 0;
      float: right; }
      #footer .footer-nav > ul > li {
        vertical-align: top;
        display: inline-block; }
        #footer .footer-nav > ul > li a {
          font-size: 13px;
          color: rgba(233, 241, 255, 0.5);
          display: block;
          text-decoration: none;
          padding: 0 15px;
          line-height: 26px; }
          #footer .footer-nav > ul > li a:hover {
            color: #e9f1ff; }
        #footer .footer-nav > ul > li + li {
          border-left: 1px solid #235492; }
  #footer .navbar-footer {
    background-color: #0a2241;
    margin-bottom: 0px;
    min-height: 35px; }
    #footer .navbar-footer .theme_social {
      padding: 0;
      margin: 0; }
      #footer .navbar-footer .theme_social > li {
        display: inline-block;
        vertical-align: top; }
        #footer .navbar-footer .theme_social > li + li {
          margin-left: 1px; }
      #footer .navbar-footer .theme_social .social-icon {
        display: block;
        width: 35px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
        background: #235492; }
        #footer .navbar-footer .theme_social .social-icon.facebook {
          background: #3b5998; }
        #footer .navbar-footer .theme_social .social-icon.twitter {
          background: #28a9e0; }
        #footer .navbar-footer .theme_social .social-icon:hover {
          opacity: .9; }
    #footer .navbar-footer .online-contact {
      padding: 0;
      margin: 0;
      float: right; }
      #footer .navbar-footer .online-contact > li {
        display: inline-block;
        vertical-align: top; }
        #footer .navbar-footer .online-contact > li > a {
          line-height: 35px;
          font-size: 13px;
          font-weight: bold;
          display: block;
          margin: 0 20px;
          text-decoration: none;
          color: #FFFFFF; }
          #footer .navbar-footer .online-contact > li > a > i.fa {
            margin-right: 7px;
            font-size: 16px;
            line-height: inherit; }
        #footer .navbar-footer .online-contact > li.live-contact > a.live-chat > .fa {
          background-color: #123664;
          width: 35px;
          text-align: center; }
        #footer .navbar-footer .online-contact > li.live-contact .online-status {
          font-weight: normal;
          display: inline-block;
          position: relative;
          margin-left: 15px;
          padding-left: 15px;
          font-size: 13px; }
          #footer .navbar-footer .online-contact > li.live-contact .online-status:after {
            content: " ";
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #13ae22;
            left: 0;
            top: 50%;
            margin-top: -4px;
            border-radius: 10px; }
          #footer .navbar-footer .online-contact > li.live-contact .online-status.offline {
            color: rgba(233, 241, 255, 0.5); }
            #footer .navbar-footer .online-contact > li.live-contact .online-status.offline:after {
              background-color: #e25112; }
  @media (max-width: 992px) {
    #footer {
      padding-bottom: 0px; }
      #footer .footer-nav .custom-nav {
        float: none;
        text-align: center;
        margin: 0 auto; }
        #footer .footer-nav .custom-nav > li {
          display: inline-block; }
      #footer .copyright {
        text-align: center; }
      #footer .navbar-footer {
        position: relative; }
        #footer .navbar-footer .social-navigation .theme_social {
          padding: 0px 0px;
          text-align: center; }
          #footer .navbar-footer .social-navigation .theme_social > li {
            display: inline-block; } }
  @media (max-width: 768px) {
    #footer .navbar-footer .social-navigation .theme_social {
      padding: 15px 0px;
      text-align: center; }
      #footer .navbar-footer .social-navigation .theme_social > li {
        display: inline-block; }
    #footer .navbar-footer .online-contact {
      padding-bottom: 35px;
      text-align: center; }
      #footer .navbar-footer .online-contact .live-contact {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #0a2241;
        left: 0; } }

.LPMcontainer.LPMoverlay {
  display: none !important; }

/* 
* Featured Contents
--------------------------------------------------------------------------------
*/
.featured-items .feature-title {
  margin: 0px;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center; }
.featured-items .featured-item .thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .featured-items .featured-item .thumbnail img {
    width: 100%;
    height: auto; }
  .featured-items .featured-item .thumbnail .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    background: rgba(1, 61, 136, 0.85); }
    .featured-items .featured-item .thumbnail .caption > .ctitle {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      line-height: 1.1; }
    .featured-items .featured-item .thumbnail .caption .readmore {
      background-color: #ffc30d;
      background-image: none;
      height: 40px;
      line-height: 40px;
      margin-top: -14px;
      top: 0;
      right: 10px;
      text-align: center;
      width: 40px;
      opacity: 1;
      color: #000000;
      position: absolute;
      display: block;
      overflow: hidden; }
  .featured-items .featured-item .thumbnail:hover {
    opacity: .8; }

/* 
* Colors
*===============================================================================
*/
/* 
* Overwrite Bootstrap Style
*/
.entry-content .label {
  border-radius: 0; }
  .entry-content .label.label-default {
    background-color: #eaeaea;
    color: #132d4e; }
.entry-content .well {
  border-radius: 0;
  background-color: #f4f4f4;
  border-color: #eaeaea;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: none; }
.entry-content .tab_wrap {
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05); }
  .entry-content .tab_wrap .nav-tabs {
    background: #eaeaea;
    border-bottom: 0; }
    .entry-content .tab_wrap .nav-tabs > li {
      margin: 0px; }
      .entry-content .tab_wrap .nav-tabs > li > a {
        border-radius: 0;
        margin: 0px;
        border: 0;
        color: #3e3e3e;
        font-weight: 600; }
      .entry-content .tab_wrap .nav-tabs > li + li {
        border-left: 1px solid #f6f6f6; }
      .entry-content .tab_wrap .nav-tabs > li.active > a {
        color: #132d4e; }
  .entry-content .tab_wrap .tab-content {
    padding: 15px 35px; }
.entry-content .panel-group .panel {
  border-radius: 0; }
  .entry-content .panel-group .panel .panel-heading {
    border-radius: 0;
    background: #eaeaea;
    padding: 0px; }
    .entry-content .panel-group .panel .panel-heading .accordion-toggle {
      display: block;
      text-decoration: none;
      outline: none;
      padding: 10px 15px;
      font-weight: 600; }
.entry-content .table thead tr th, .entry-content .table tbody tr th {
  border-top: 0;
  border-color: #ffc30d; }
.entry-content .btn {
  border-radius: 0;
  border-bottom-width: 3px; }
  .entry-content .btn + .btn {
    margin-left: 5px; }
  .entry-content .btn.btn-primary {
    background: #ffc30d none repeat scroll 0 0 !important;
    border: 0;
    border-bottom: 3px solid #e1ac0b;
    opacity: 0.8;
    text-align: center;
    color: #000000; }
    .entry-content .btn.btn-primary:hover {
      background: #e1ac0b !important; }
  .entry-content .btn.btn-submit {
    background: #265998;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    padding: 6px 25px; }
.entry-content .form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #c2c2c2; }
  .entry-content .form-control:focus {
    border-color: #265998; }
.entry-content textarea.form-control {
  max-height: 150px;
  resize: vertical; }
.entry-content img.wpcf7-captchac {
  border: 2px solid #c2c2c2;
  height: 50px;
  width: 100px;
  padding: 8px; }
